* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    
}

:root {
    --primary-color: #38acff;

    --nav-color: #fff;
    --nav-color-hover: rgba(255,255,255,.8);
    --nav-color-active: rgba(255,255,255,.8);
    --nav-chevron-color: rgba(255,255,255,.6);
    --title-color: #fff;
    --border: rgba(255,255,255,.25);
    --scroll-w: 17px;
    --sticky-nav-w: .001px;
    --brdcolor-gray-300: rgba(255,255,255,.15);

    --before: content: "";
        display: block;
        height: 18px;
        border-right: 1px solid;
        border-color: rgba(255,255,255,.25);
}



body {
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}


.container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


a {
    text-decoration: none;
}






header {
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 9999;

}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-color: rgba(255, 255, 255, 0.05);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nav-links, .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link a {
    margin: auto 1.5rem;
    color: var(--nav-color);
    font-weight: 700;
    transition: all .25s ease;
}

.nav-link a:hover {
    color: var(--nav-color-hover);
}

.btn-primary {
    font-weight: 600;
    border: none;
    border-radius: 35px;
    color: var(--title-color);
    font-size: 13px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    cursor: pointer; 
}

.btn-primary:hover {
    background-color: #0f89e0;
}

nav span {
    color: var(--nav-color-hover);
    font-weight: 600;
}

nav span::before {
    content: "";
    margin: auto 1rem;
    height: 18px;
    border-right: 1px solid;
    border-color: rgba(255,255,255,.25);
}

.toggle {
    display: none;
}

/*----------------------------- End-Header--------------------------------------*/
.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.liner__continer  {
    width: 100%;
    background: #242424 url(/image/w-developer-top-bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.liner__continer h4 {
    line-height: 5rem;
    font-size: 4rem;
    margin-top: 10rem;
    color: var(--bs-body-bg);
    font-weight: 600;
    width: 80%;
}

.liner__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.liner__title span {
    color: var(--primary-color);
}

.avatar img {
    height: auto;
    border: 0;
    vertical-align: middle;
}
form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
input[type="email"] {
    padding: 0.6rem;
    width: 30%;
    border: none;
    border-radius: 0.5rem;
}

form .btn {
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
}

.social-icon {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.social-icon a {
    color: var(--title-color);
    font-size: 1.3rem;
    margin: 0 0.4rem;
}

.nav__hero{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.nav__hero ul {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    padding: 0;
}

.nav__hero a {
    margin: auto 0.5rem 0 0;
    color: var(--nav-color);
    font-weight: 700;
    transition: all .25s ease;
    padding: 0;
    font-size: 0.9rem;
}

.nav__hero a:hover {
    color: var(--nav-color-hover);
}

.nav__hero li:not(:last-child)::after {
    content: "";
    margin: auto 1rem;
    height: 18px;
    border-right: 1px solid;
    border-color: rgba(255,255,255,.25);
}
/*----------------------------- End-Hero--------------------------------------*/


.services {
    background-image: -webkit-linear-gradient(top , rgb(15, 15, 15) , rgb(36, 94, 135) 100%);
    background-image: linear-gradient(to bottom , rgb(15, 15, 15) , rgb(36, 94, 135) 100%);
}

.services__container {
    display: flex;
    align-items: center;
    
}

.services__one {
    margin-top: 1.5rem;
    width: 40%;
}

.services__one h4 {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 500;
}

.services__one h2 {
    color: var(--title-color);
    font-weight: 700;
    line-height: 3rem;
    font-size: 2.5rem;
    width: 400px;
}

.info-slid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    padding: 10rem 0;
}


.info-slid h2 {
    color: var(--title-color);
    font-weight: 600;
    margin-top: 1rem;
}

.info-slid p {
    color: #ffffffcc;
    margin-top: 1rem;
}

/*----------------------------- End-Services--------------------------------------*/

.portfolio {
    display: flex;
    gap: 5rem;
    position: relative;
    margin: 6rem auto;
}

.info-fixed {
    position: sticky;
    top: 0;
    height: min-content;
    flex:1;
}
.avatar-tow {
    width: 275.5px;
}

.info-fixed h2 {
    line-height: 1.4;
    font-weight: 800;
    font-size: 2.5rem;
}

.info-fixed p {
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #888c8f;
}

.fa-solid, .fas {
    font-weight: 900;
    margin-left: 5px;
}



.row-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 60%;
    flex:2;
}

.portfolio-gallery {
    position: relative;
    transition: transform .5s ease,opacity .5s ease;
    transform: scale(1);
    background-color: black;
    border-radius: 0.6rem;
}

.portfolio-gallery:hover  {
    transform: scale(1.09); 
    display: block;
    z-index: 2;
}

.portfolio-gallery:hover small, h3 {
    display: block;
}
.portfolio-gallery:hover h3 {
    display: block;
}

.portfolio-gallery:hover > .share {
    display: block;
}
.portfolio-gallery:hover > .social-portfolio{
    display: block;
}



.portfolio-gallery img {
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 0.6rem;
    display: block;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    padding: 0;
    opacity: 1;
}

.portfolio-gallery img:hover {
    opacity: 0.3;
    
}

.portfolio-gallery small {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    color: #ffffffcc;
    font-weight: 600;
    display: none;
    transition: transform .5s ease,opacity .5s ease;
    transform: scale(1);
}

.portfolio-gallery h3 {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 800;
    display: none;
    transition: transform .5s ease,opacity .5s ease;
    transform: scale(1);
}

.portfolio-gallery .share {
    color: var(--title-color);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    display: none;

}

.social-portfolio {
    font-size: 1rem;
    background: black;
    margin: 0.5rem 2.5rem;
    padding: 5px 20px;
    border-radius: 0.5rem;
    z-index: 2;
    transition: transform .5s ease,opacity .5s ease;
    transform: scale(1);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.social-portfolio:before {
    display: block;
    width: 25px;
    height: 25px;
    background: #000;
    position: absolute;
    top: 4px;
    right: 0;
    margin: 0 0 0 -31px;
    z-index: -1;
    content: "";
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.social-portfolio a {
    color: var(--title-color);
    margin: 0.3rem;
    
}
/*----------------------------- End-Portfolio--------------------------------------*/
.about-us {
    background-image: -webkit-linear-gradient(top , rgb(15, 15, 15) , rgb(36, 94, 135) 100%);
    background-image: linear-gradient(to bottom , rgb(15, 15, 15) , rgb(36, 94, 135) 100%);
    padding-bottom: 4rem;
}

.about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding-top: 5rem;
}

.about-avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-title h3 {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.about-title h2 {
    color: var(--title-color);
    
    font-weight: 600;
}

.about-info p {
    color: #ffffffcc;
    margin: 2rem auto;
}

.about-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.about-contact .social-icon {
    margin: 0;
}

.about-contact .social-icon a {
    font-size: 1rem;
}


.accordion h2 {
    color: var(--title-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.accordion-button {
    background-color: transparent;
}

.accordion-flush .accordion-item {
    background: transparent;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    background: transparent;
    color: var(--title-color);
    border-bottom: 1px solid var(--brdcolor-gray-300);
    font-weight: 600;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;

}

.accordion-item {
    color: #ffffffcc;
    background-color: transparent;
    border: none;
}

.accordion-button {
    color: var(--title-color);
}

.accordion-button::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    color: #ffffffcc;
    font-size: 0.8rem;
    background-image: none;
    background-color: transparent;
   
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
    display: block;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.img-fluid {
	width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 0.6rem;
    display: block;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    padding: 0;
    opacity: 1;
}
.rounded-3 {
	border-radius:10px;
}

.contact {
    background-image: -webkit-linear-gradient(top , rgb(36, 94, 135) , rgb(15, 15, 15) 100%);
    background-image: linear-gradient(to bottom , rgb(36, 94, 135) , rgb(15, 15, 15) 100%);
}

.contact-info {
    background-image: -webkit-linear-gradient(left , rgb(60, 56, 255) , rgb(27, 179, 244) 100%);
    background-image: linear-gradient(to right , rgb(60, 56, 255) , rgb(27, 179, 244) 100%);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info .avatar img {
    margin-top: 4rem;
}

.contact-info h2 {
    margin-top: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
}

.contact-info  p{
    text-align: center;
    max-width: 600px;
    color: var(--title-color);
}

.contact-info .social-icon {
    margin: 0;
}



.contact-me .social-icon a {
    font-size: 1rem;
    transition: all .25s ease;
}

.contact-me .social-icon a :hover {
    color: #ffffffcc;
}

.contact-me .btn {
    margin-top: 2rem;
    border-color: rgba(255,255,255,.5);
    color: var(--title-color);
    font-weight: 600; 
    border-radius: 2rem;   
    padding: 0.7rem 1.5rem;
    margin-bottom: 2rem;
}

.btn:hover {
    border-color: var(--title-color);
    background-color: transparent;
    color: var(--title-color);
}



footer {
    background-color: #101010 !important;
    
    
}

.container__footer {
    padding: 4rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: var(--brdcolor-gray-300);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.menu-footer ul {
    display: flex;
    align-items: center;
    
}

.menu-footer ul a {
    margin: auto 1.5rem;
    color: var(--nav-color);
    font-weight: 700;
    transition: all .25s ease;
}
.menu-footer ul a:hover {

    color: var(--nav-color-hover);
}

.copyright-footer {
    text-align: center;
    padding: 2rem 0;
    color: #ffffffcc;
    font-weight: 600;
}

.copyright-footer a {
    color: var(--title-color);
}


.copyright-footer span {
    color: var(--primary-color);
}



/*----------------------------- media-screen-Tablet--------------------------------------*/

@media only screen and (max-width: 1200px) {

    .toggle {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .fa-bars {
        font-size: 1.5rem;
        color: var(--title-color);
    }
    .fa-bars:hover {
        color: var(--nav-color-hover);
    }

    .offcanvas {
        width: 300px !important;
        z-index: 99999 !important;
        transition: transform 0.5s cubic-bezier(.19,1,.22,1);
    }
   
    .fa-magnifying-glass {
        cursor: pointer;
        color: #777;
        transition: opacity .1s ease;
        font-size: 1.2rem;
        opacity: 0.8;
    }
    .fa-magnifying-glass:hover {
        color: #c9c9c9;
    }
    .form-control{
        background: transparent ; 
        border: none;
        color: #777;
        font-weight: 600 !important;
        font-size: .9rem !important;
        
    }
    .form-control:focus {
        background-color: transparent;
        border-color: transparent;
        outline: 0;
        box-shadow: none;
    }
    .offcanvas-header {
        box-shadow: 0 -1px 9px rgba(0,0,0,.17);
        z-index: 2;
    }

    .offcanvas-links {
        margin: 0;
        padding: 0;
    }
    .offcanvas-body {
        margin: 0;
        padding: 0;
        display:block;
        align-items: center;
        justify-content: space-between;
    }

    .offcanvas-links ul li  {
        border-bottom: 1px solid hwb(0 0% 100% / 0.13);
        border-bottom-width: 100%;
        padding: 16px 0;
    }
    .offcanvas-links li a {
        color: #333333;
        font-weight: 800;
        font-size:13px ;
        flex: 1 1 0%;
        padding: 5px 20px;
        min-height: 50px;
    }

    .copyright-sidpar {
        text-align: center;
        margin-top: 25rem;
        font-size: 16px;
        font-weight: 600;
        line-height: 2rem;
    }

    .copyright-sidpar :nth-child(1)  {
        color: #000;
    }
    .name-nav {
        display: none;
    }
    /*----------------------------- End-NAV--------------------------------------*/
    .hero__container{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    

    .hero__container .avatar img {
        display: block;
        width: 12rem;
        margin-top: -3rem;
        margin-right: -1rem;
    }

    .hero__container h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .form-hero {
        margin-top: 4rem;
    }

    .form-hero .form-subscribe {
        width: 300px;
    }

    .nav__hero {
        padding: 0;
        margin: 0;
    }

    .nav__hero ul {
        padding: 0;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
    }

    .nav__hero a {
        font-size: 0.8rem;
    }
    /*----------------------------- End-Hero-------------------------------------*/
    .services__container {
        flex-wrap: wrap;
    }

    .services__one {
        margin-top: 6rem;
    }

    .services__one h4 {
        font-size: 0.7rem;
    }

    .services__one h2 {
        font-size: 2rem;
    }

    .info-slid {
        gap: 1.5rem;
        padding: 3rem 0;
    }

    .info-slid img {
        width: 3rem;
    }

    .services__info h2 {
        font-size: 1rem;
    }

    .info-slid p {
        font-size: 0.9rem;
    }

    /*----------------------------- End-Services-------------------------------------*/
    .portfolio {
        margin: 4rem auto;

    }

    .info-fixed h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
    }
    
    /*----------------------------- End-Portfolio-------------------------------------*/
    .about__container {
        padding-top: 3rem;
    }

    .about__container h2 {
        font-size: 1.5rem;
    }


    .contact-me {
        padding: 2rem 1rem;
        margin-top: -19px;
    }
}


/*----------------------------- media-screen-Mobile--------------------------------------*/

@media only screen and (max-width: 775px) {

    .hero__container {
        margin: 0;
    }

    .hero__container .avatar {
        display: none;
    }

    .hero__container h4 {
        line-height: 42px;
        font-size: 32px;
        font-weight: 800;
        display: block;
    }

    .form-hero .form-subscribe {
        width: 250px;
    }

    .form-hero .btn {
        padding: 0.8rem 1.2rem;
}
    .social-icon {
        margin-top: 1.5rem;
    }

    .social-icon a {
        font-size: 1rem;
    }

    .nav__hero ul {
        flex-wrap: wrap;
    }

    .nav__hero a {
        margin: 0;
        font-size: 0.8rem;
        padding: 0;
    }

    /*----------------------------- End - Nav--------------------------------------*/

    .services__container .services__one h2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .info-slid {
        grid-template-columns: 1fr;
    }

        /*----------------------------- End-Services--------------------------------------*/

        .portfolio {
            display: grid;
            grid-template-columns: 1fr;
        }

        .portfolio .info-fixed {
            flex-wrap: wrap;
            position: relative;
        }

        .info-fixed h2 {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .row-portfolio {
            grid-template-columns: 1fr;
            max-width: 100%;
        }

    /*----------------------------- End-Portfolio--------------------------------------*/

    .about__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .accordion h2 {
        text-align: center;
    }

    .swiper {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .contact-info h2 {
        font-size: 2rem;
    }

    .contact-info p {
        padding: 1rem;
    }

    .container__footer {
        padding: 0;
        display: grid;
    }

    .footer-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .menu-footer {
        margin-top: 2rem;
    }

    .menu-footer a {
        font-size: .8rem;
    }

    .copyright-footer {
        font-size: 0.7rem;
    }
}

